<!-- Page Content -->
<div class="container">

	<!-- Introduction Row -->
	<h1 class="my-4">About Us
		<small>It's Nice to Meet You!</small>
	</h1>

	<p>We're people</p>

	<!-- Team Members Row -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="my-4">HPOA Board</h2>
		</div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
			<img class="rounded-circle img-fluid d-block mx-auto" src="headshots/betsy.jpg" alt="">
			<h3>Betsy Bankson
				<small>President</small>
			</h3>
			<p>Reluctantly President</p>
		</div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
			<img class="rounded-circle img-fluid d-block mx-auto" src="headshots/sally.jpg" alt="">
			<h3>Sally Bankson
				<small>Harry's Owner</small>
			</h3>
			<p>Makes delicious food</p>
		</div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
			<img class="rounded-circle img-fluid d-block mx-auto" src="headshots/jesse.jpg" alt="">
			<h3>Jesse Gauntt
				<small>Tall Human</small>
			</h3>
			<p>Trying to avoid any actual involvement</p>
		</div>
	</div>

</div>