<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5">Welcome</h1>
			<p class="lead">Lead...</p>
			<ul class="list-unstyled">
				<li>HPOA board meetings are the second Monday of every <strong>odd</strong> month at 6:30 PM. Fire station. January, March, May, July, September, November.</li>
				<li><li><a target="_blank" href="https://www.facebook.com/groups/132036856811932/">Facebook Group</a></li></li>
			</ul>
		</div>
	</div>
</div>