<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5">Welcome</h1>
			<p class="lead">
				<a target="_blank" href="https://en.wikipedia.org/wiki/Hyak,_Washington">Hyak</a> is a growing community located on Snoqualmie Pass, WA.</p>

			<div class="jumbotron">
				<!-- <h1 class="display-3">Yes, it is
					<span class="current_year">2017</span>.</h1>
				<p class="lead">And we're on Facebook.</p>
				<hr class="my-4"> -->
				<p class="lead">Connect with locals on Facebook</p>
				<p class="lead mt-5">
					<a target="_blank" class="btn btn-primary btn-lg" href="https://www.facebook.com/groups/324191704292219/">Snoqualmie Pass FB Group</a>
					<a target="_blank" class="btn btn-dark btn-lg" href="https://www.facebook.com/groups/132036856811932/">Hyak FB Group</a>
				</p>
			</div>

			<div class="card mb-3 border border-info">
				<div class="card-body">
					<h4 class="card-title">Board Meetings</h4>

					<ul class="list-group">
						<li class="list-group-item">
							<strong>When:</strong> Second Monday of every
							<u>odd</u> month.
							<br/>
							<small class="text-muted">That's January, March, May, July, September, and November</small>
						</li>
						<li class="list-group-item">
							<strong>Time:</strong> 6:30 PM</li>
						<li class="list-group-item">
							<strong>Location:</strong>
							<a target="_blank" class="ml-3 btn btn-info" href="https://www.google.com/maps/place/snoqualmie+pass+fire+and+rescue/@47.4171668,-121.4147039,17z/data=!3m1!4b1!4m5!3m4!1s0x549a79a0476547c1:0x4bfe36062cb6f570!8m2!3d47.4171668!4d-121.4125152">Fire Station</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>